<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.maryvofin.stundenplan.app"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        android:fullBackupContent="true"
        android:supportsRtl="false">
        <activity
            android:name=".MainActivityOld"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".AddTaskActivity">

        </activity>
        <activity
            android:name=".GroupSelectionActivity"
            android:label="@string/activity_title_settings" >
        </activity>
        <activity android:name=".DetailsActivity" />
        <activity android:name=".ShareActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="AUTHORITY" android:value="de.maryvofin.stundenplan.app" />
        <meta-data android:name="DATABASE_NAME" android:value="database.sqlite" />
        <meta-data android:name="DATABASE_VERSION" android:value="2" />
        <meta-data android:name="PACKAGE_NAME" android:value="de.maryvofin.stundenplan.app" />

        <provider
            android:name="info.quantumflux.provider.QuantumFluxContentProvider"
            android:authorities="de.maryvofin.stundenplan.app"
            android:exported="false" />

    </application>

</manifest>
